@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat; }

.about-company__inner .about-company__separator .about-company__title, .news__inner .news__top .news__title {
  text-transform: uppercase;
  color: #000;
  font-size: 32px;
  font-weight: 700; }

a {
  text-decoration: none; }

.container {
  max-width: 1171px;
  margin: 0 auto; }

header {
  z-index: 999; }
  header .top-header {
    background-color: #DCE5E9; }
    header .top-header .top-header__inner {
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      align-items: center; }
      header .top-header .top-header__inner a {
        font-size: 14px;
        font-weight: 400;
        color: #000; }
  header .bot-header {
    background: #fff; }
    header .bot-header .bot-header__inner {
      min-height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      header .bot-header .bot-header__inner .bot-header__logo {
        padding-bottom: 30px; }
        header .bot-header .bot-header__inner .bot-header__logo a {
          text-transform: uppercase;
          font-weight: 700;
          color: #000000;
          font-size: 20px; }
      header .bot-header .bot-header__inner .bot-header__burger-menu {
        display: none; }
      header .bot-header .bot-header__inner .bot-header__register-login_mobile {
        display: none; }
      header .bot-header .bot-header__inner .top-header__inner_mobile {
        display: none; }
      header .bot-header .bot-header__inner .bot-header__menu {
        display: flex;
        width: 100%;
        max-width: 597px;
        justify-content: space-around; }
        header .bot-header .bot-header__inner .bot-header__menu a {
          font-size: 16px;
          font-weight: 400;
          color: #000;
          position: relative;
          line-height: 1;
          padding-bottom: 30px; }
          header .bot-header .bot-header__inner .bot-header__menu a .bot-header__register-login_mobile {
            display: none; }
        header .bot-header .bot-header__inner .bot-header__menu a:after {
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #000;
          content: "";
          transition: width 0.3s ease-out; }
        header .bot-header .bot-header__inner .bot-header__menu a:hover {
          font-weight: 700; }
        header .bot-header .bot-header__inner .bot-header__menu a:hover:after,
        header .bot-header .bot-header__inner .bot-header__menu a:focus:after {
          width: 100%; }
      header .bot-header .bot-header__inner .bot-header__register-login {
        padding-bottom: 30px; }
        header .bot-header .bot-header__inner .bot-header__register-login a {
          font-size: 12px;
          font-weight: 600;
          color: #000; }
    header .bot-header .submenu {
      display: none;
      border-top: 1px solid #CECECE; }
      header .bot-header .submenu__wrapper {
        min-height: 120px;
        max-width: 466px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;
        align-content: space-evenly; }
      header .bot-header .submenu a {
        margin-right: 40px;
        text-decoration: none;
        font-size: 14px;
        color: #000; }
    header .bot-header .submenuShow {
      margin-top: -2px;
      display: block; }

.slider .slide__text {
  min-height: 245px;
  max-width: 766px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .slider .slide__text span {
    padding: 6px 14px;
    background-color: #14A5DA;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 120px; }
  .slider .slide__text h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 600; }
  .slider .slide__text p {
    color: #fff;
    font-size: 24px; }

.about-company {
  padding-top: 70px; }
  .about-company__inner {
    display: flex;
    flex-direction: column; }
    .about-company__inner .about-company__separator {
      display: flex;
      justify-content: space-between; }
      .about-company__inner .about-company__separator p {
        max-width: 720px;
        font-size: 16px;
        font-weight: 400; }
    .about-company__inner .about-company__more-details {
      align-self: center;
      text-transform: uppercase;
      color: #000;
      font-size: 14px;
      font-weight: 600;
      margin-left: -175px;
      margin-top: 50px;
      position: relative; }

.news {
  padding-top: 80px; }
  .news__inner .news__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .news__inner .news__top .news__all-news {
      color: #000;
      font-size: 16px;
      font-weight: 400; }
  .news__inner .news__images {
    padding-top: 19px;
    min-height: 630px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; }
    .news__inner .news__images .news__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 570px;
      height: 300px; }
    .news__inner .news__images .item-1 {
      position: relative;
      background-image: url(../images/img_1.jpg); }
    .news__inner .news__images .item-1:before {
      position: absolute;
      content: '1';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
    .news__inner .news__images .item-2 {
      position: relative;
      background-image: url(../images/img_2.jpg); }
    .news__inner .news__images .item-2::before {
      position: absolute;
      content: '2';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
    .news__inner .news__images .item-3 {
      position: relative;
      width: 1170px;
      height: 300px;
      background-image: url(../images/img_3.jpg); }
    .news__inner .news__images .item-3::before {
      position: absolute;
      content: '3';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
    .news__inner .news__images .item-4 {
      position: relative;
      background-image: url(../images/img_1.jpg); }
    .news__inner .news__images .item-4:before {
      position: absolute;
      content: '4';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
    .news__inner .news__images .item-5 {
      position: relative;
      background-image: url(../images/img_2.jpg); }
    .news__inner .news__images .item-5::before {
      position: absolute;
      content: '5';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
    .news__inner .news__images .item-6 {
      position: relative;
      width: 1170px;
      height: 300px;
      background-image: url(../images/img_3.jpg); }
    .news__inner .news__images .item-6::before {
      position: absolute;
      content: '6';
      font-size: 161px;
      font-weight: 700;
      color: #fff;
      left: 46%;
      top: 20%;
      opacity: 0.6; }
  .news__inner .news__images_disable {
    display: none; }
  .news__inner .news__show-more {
    display: flex;
    justify-content: center;
    padding-top: 50px; }
    .news__inner .news__show-more a {
      text-transform: uppercase;
      color: #000;
      font-size: 14px; }

.mailing {
  margin-top: 77px; }
  .mailing__inner {
    border: 1px solid #14A5DA;
    position: relative; }
    .mailing__inner .mailing__top-form {
      display: flex;
      justify-content: space-between; }
      .mailing__inner .mailing__top-form .mailing__rss {
        width: 0;
        height: 0;
        border-top: 78px solid #e2f4fb;
        border-right: 78px solid transparent; }
      .mailing__inner .mailing__top-form .mailing__rss::after {
        position: absolute;
        content: '';
        width: 21px;
        height: 21px;
        background-image: url(../images/RSS.svg);
        top: 10px;
        left: 10px; }
      .mailing__inner .mailing__top-form span {
        margin-left: -78px;
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 42px;
        font-weight: 600; }
    .mailing__inner .form {
      max-width: 570px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .mailing__inner .form label {
        position: relative; }
        .mailing__inner .form label .form__name,
        .mailing__inner .form label .form__email,
        .mailing__inner .form label .form__comment {
          outline: none;
          border: 1px solid #14A5DA;
          border-radius: 4px;
          margin-top: 48px; }
        .mailing__inner .form label .form__name,
        .mailing__inner .form label .form__email {
          width: 270px;
          height: 40px; }
        .mailing__inner .form label .form__comment {
          width: 570px;
          height: 128px; }
        .mailing__inner .form label .form__name:focus {
          background-color: #e2f4fb; }
        .mailing__inner .form label .form__email:focus {
          background-color: #e2f4fb; }
        .mailing__inner .form label .form__comment:focus {
          background-color: #e2f4fb; }
      .mailing__inner .form .error-message input {
        border: 1px solid #E76400; }
      .mailing__inner .form .error-message::before {
        content: 'Заполните поле';
        color: #E76400;
        position: absolute;
        left: 0;
        top: 25px;
        font-size: 12px; }
      .mailing__inner .form button {
        padding: 11px 77px;
        outline: none;
        border: none;
        border-radius: 4px;
        background: #14A5DA;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 33px;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
    .mailing__inner .form__message-box {
      display: none;
      position: relative;
      max-width: 1000px;
      min-height: 380px;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .mailing__inner .form__message-box .form__check-mark {
        margin-bottom: 25px;
        margin: 0 auto;
        width: 47px;
        height: 47px;
        border: 7px solid #3dcc89;
        border-radius: 50%; }
      .mailing__inner .form__message-box .form__check-mark::before {
        margin: 0 auto;
        display: inline-block;
        position: absolute;
        content: '';
        width: 10px;
        height: 20px;
        margin: 8px 15px 7px;
        border: solid #3dcc89;
        border-width: 0 7px 7px 0;
        transform: rotate(45deg); }
      .mailing__inner .form__message-box div + div {
        padding-top: 25px;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase; }
  .mailing .message-box {
    display: none; }

.footer {
  background-color: #dce5e9;
  margin-top: 60px; }
  .footer .footer__inner {
    min-height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .footer .footer__inner .footer__left {
      max-width: 217px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 220px; }
      .footer .footer__inner .footer__left .footer__logo {
        text-transform: uppercase;
        font-weight: 700;
        color: #000000;
        font-size: 20px; }
      .footer .footer__inner .footer__left .footer__address {
        font-size: 14px;
        margin-top: -30px; }
      .footer .footer__inner .footer__left a {
        font-weight: 600;
        font-size: 14px;
        color: #000; }
    .footer .footer__inner .footer__right {
      padding-top: 74px; }
      .footer .footer__inner .footer__right .footer__links a {
        color: #000;
        font-size: 14px;
        padding-right: 14px;
        display: inline-block; }
      .footer .footer__inner .footer__right .footer__links a:last-child {
        padding-right: 0; }
      .footer .footer__inner .footer__right .footer__social {
        padding-top: 37px;
        display: flex;
        justify-content: space-between; }
        .footer .footer__inner .footer__right .footer__social .footer__social-wrapper div {
          font-size: 14px;
          color: #000;
          margin-bottom: 16px; }
        .footer .footer__inner .footer__right .footer__social .footer__social-wrapper a {
          margin-right: 12px; }
        .footer .footer__inner .footer__right .footer__social .footer__news-subscription div {
          font-size: 14px;
          margin-bottom: 10px; }
        .footer .footer__inner .footer__right .footer__social .footer__news-subscription input {
          border: none;
          outline: none;
          background: #fff;
          width: 289px;
          height: 30px;
          margin-right: 11px; }
        .footer .footer__inner .footer__right .footer__social .footer__news-subscription .error {
          border: 1px solid #E76400; }
        .footer .footer__inner .footer__right .footer__social .footer__news-subscription button {
          width: 70px;
          height: 30px;
          border: none;
          outline: none;
          background: #14A5DA;
          color: #fff; }
  .footer .bot-footer {
    background: #000; }
    .footer .bot-footer__inner {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer .bot-footer__inner div {
        color: #fff;
        font-size: 12px; }
        .footer .bot-footer__inner div span {
          padding-left: 30px; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 0.5s;
  width: 100%; }

@keyframes show_header {
  0% {
    opacity: 0;
    top: -140px; }
  100% {
    opacity: 1;
    top: 0; } }
@media (max-width: 380px) {
  .container {
    max-width: 290px; }

  .top-header {
    display: none; }

  .top-header__inner_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }

  .bot-header .container {
    max-width: 320px; }
    .bot-header .container .bot-header__inner {
      min-height: 64px;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      align-content: center;
      justify-content: space-around; }
      .bot-header .container .bot-header__inner .bot-header__logo {
        padding-bottom: 0; }
      .bot-header .container .bot-header__inner .bot-header__menu {
        left: -700px;
        top: 64px;
        z-index: 99;
        background-color: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s; }
        .bot-header .container .bot-header__inner .bot-header__menu a:after {
          display: none;
          transition: none; }
        .bot-header .container .bot-header__inner .bot-header__menu a:hover {
          font-weight: 700; }
        .bot-header .container .bot-header__inner .bot-header__menu a {
          padding-bottom: 25px; }
        .bot-header .container .bot-header__inner .bot-header__menu a:first-child {
          margin-top: 30px; }
        .bot-header .container .bot-header__inner .bot-header__menu .bot-header__register-login_mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 70px; }
          .bot-header .container .bot-header__inner .bot-header__menu .bot-header__register-login_mobile a {
            font-weight: 600; }
      .bot-header .container .bot-header__inner .bot__header-menu_active {
        left: 0; }
      .bot-header .container .bot-header__inner .bot-header__burger-menu {
        display: block;
        width: 22px;
        height: 18px;
        background-image: url(../images/burger.svg); }
      .bot-header .container .bot-header__inner .bot-header__burger-menu_active {
        width: 23px;
        height: 22px;
        background-image: url(../images/close.svg); }
      .bot-header .container .bot-header__inner .bot-header__register-login {
        display: none; }

  .slider .slide__text {
    justify-content: space-evenly; }
    .slider .slide__text span {
      padding: 7px 12px;
      font-size: 8px;
      width: 52px; }
    .slider .slide__text h2 {
      font-size: 16px; }
    .slider .slide__text p {
      font-size: 14px; }

  .about-company .about-company__separator {
    flex-direction: column; }
    .about-company .about-company__separator .about-company__title {
      align-self: center;
      margin-bottom: 10px;
      font-size: 16pt; }
    .about-company .about-company__separator p {
      font-size: 10pt; }
  .about-company .about-company__more-details {
    align-self: center;
    margin-left: 0;
    margin-top: 20px;
    font-size: 10pt; }

  .news {
    padding-top: 31px; }
    .news .news__top {
      justify-content: center;
      padding-bottom: 19px; }
      .news .news__top .news__all-news {
        display: none; }
      .news .news__top .news__title {
        font-size: 16pt; }
    .news .news__images {
      padding-top: 0; }
      .news .news__images .news__item {
        margin-bottom: 20px; }
      .news .news__images .news__item::before {
        font-size: 95pt;
        left: 38%;
        top: 24%; }
      .news .news__images .item-2,
      .news .news__images .item-5 {
        order: -1; }

  .mailing .mailing__inner .mailing__top-form .mailing__rss {
    border-top: 48px solid #e2f4fb;
    border-right: 48px solid transparent; }
  .mailing .mailing__inner .mailing__top-form .mailing__rss::after {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    background-image: url(../images/RSS.svg);
    top: 2px;
    left: 5px; }
  .mailing .mailing__inner .mailing__top-form span {
    font-size: 9pt;
    font-weight: 600;
    margin-left: -32px;
    margin-top: -15px; }
  .mailing .mailing__inner .form {
    justify-content: center;
    height: 375px;
    align-content: space-evenly; }
    .mailing .mailing__inner .form .form__name,
    .mailing .mailing__inner .form .form__email {
      max-width: 220px;
      height: 32px;
      margin-top: 0; }
    .mailing .mailing__inner .form .form__comment {
      max-width: 220px;
      height: 128px;
      margin-top: 0; }
    .mailing .mailing__inner .form .form__btn {
      margin: 0 auto;
      max-width: 220px;
      padding: 0;
      width: 220px;
      height: 40px; }
  .mailing .mailing__inner .error-message::before {
    top: -20px; }
  .mailing .mailing__inner .form__message-box {
    width: 290px;
    height: 420px; }
    .mailing .mailing__inner .form__message-box div + div {
      text-align: center; }

  .footer .footer__inner {
    flex-direction: column;
    align-items: center; }
    .footer .footer__inner .footer__left {
      justify-content: space-evenly;
      align-items: center; }
    .footer .footer__inner .footer__right {
      padding-top: 0; }
      .footer .footer__inner .footer__right .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .footer .footer__inner .footer__right .footer__links a {
          margin: 4px 0; }
      .footer .footer__inner .footer__right .footer__social {
        flex-direction: column;
        align-items: center; }
        .footer .footer__inner .footer__right .footer__social .footer__social-wrapper {
          text-align: center; }
        .footer .footer__inner .footer__right .footer__social .footer__news-subscription {
          margin-top: 40px; }
          .footer .footer__inner .footer__right .footer__social .footer__news-subscription div {
            text-align: center;
            display: inline-block; }
          .footer .footer__inner .footer__right .footer__social .footer__news-subscription input {
            width: 210px;
            margin-right: 10px; }
          .footer .footer__inner .footer__right .footer__social .footer__news-subscription button {
            width: 65px;
            margin-bottom: 36px; }

  .bot-footer .bot-footer__company {
    display: none; } }

/*# sourceMappingURL=index.css.map */
